<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta name="theme-color" content="#db5945">
    <title>{{ 'Page not found'|trans }}</title>
<body>
<div>
    <h1>{{ '404 Page not found'|trans }}</h1>
</div>
</body>
</html>
