<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div>
    <form role="form">
        <div class="box-body">
            <p class="text-success success-action"></p>
            <p class="text-error failure-action"></p>

            <div class="common col-sm-12">
                <div class="country form-group">
                    <label>Country</label>
                    <div class="input-group col-sm-6 col-xs-12">
                       <select class="form-control" name="Country"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Year</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input class="form-control" name="Year" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label>Diameter</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input class="form-control" name="Diameter">
                    </div>
                </div>
                <div class="form-group">
                    <label>Circulation</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input class="form-control" name="Circulation">
                    </div>
                </div>
                <div class="form-group">
                    <label>Type(Donative/Medalic/Liberty)</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input class="form-control" name="CoinType">
                    </div>
                </div>
                <div class="prices panel panel-primary col-sm-6 col-xs-12">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Prices
                            <span class="pull-right clickable">
                                <a data-toggle="collapse" href="#collapse1">
                                    <i class="glyphicon glyphicon-chevron-down"></i>
                                </a>
                            </span>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel panel-collapse collapse">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Price from, $</th>
                                    <th>Price to, $</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>G(G4-G6)</td>
                                    <td><input type="text" class="form-control" name="PriceGFrom" /></td>
                                    <td><input type="text" class="form-control" name="PriceGTo" /></td>
                                </tr>
                                <tr>
                                    <td>VG(VG8-VG10)</td>
                                    <td><input type="text" class="form-control" name="PriceVgFrom" /></td>
                                    <td><input type="text" class="form-control" name="PriceVgTo" /></td>
                                </tr>
                                <tr>
                                    <td>F(F12-F15)</td>
                                    <td><input type="text" class="form-control" name="PriceFFrom" /></td>
                                    <td><input type="text" class="form-control" name="PriceFTo" /></td>
                                </tr>
                                <tr>
                                    <td>VF</td>
                                    <td><input type="text" class="form-control" name="PriceVfFrom" /></td>
                                    <td><input type="text" class="form-control" name="PriceVfTo" /></td>
                                </tr>
                                <tr>
                                    <td>XF</td>
                                    <td><input type="text" class="form-control" name="PriceXfFrom" /></td>
                                    <td><input type="text" class="form-control" name="PriceXfTo" /></td>
                                </tr>
                                <tr>
                                    <td>AU</td>
                                    <td><input type="text" class="form-control" name="PriceAuFrom" /></td>
                                    <td><input type="text" class="form-control" name="PriceAuTo" /></td>
                                </tr>
                                <tr>
                                    <td>UNC</td>
                                    <td><input type="text" class="form-control" name="PriceUncFrom" /></td>
                                    <td><input type="text" class="form-control" name="PriceUncTo" /></td>
                                </tr>
                                <tr>
                                    <td>BU</td>
                                    <td><input type="text" class="form-control" name="PriceBuFrom" /></td>
                                    <td><input type="text" class="form-control" name="PriceBuTo" /></td>
                                </tr>
                                <tr>
                                    <td>PL</td>
                                    <td><input type="text" class="form-control" name="PricePlFrom" /></td>
                                    <td><input type="text" class="form-control" name="PricePlTo" /></td>
                                </tr>
                                <tr>
                                    <td>PF(PF61-PF70)</td>
                                    <td><input type="text" class="form-control" name="PricePfFrom" /></td>
                                    <td><input type="text" class="form-control" name="PricePfTo" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="translations-panel panel col-sm-6 col-xs-12">
                <div class="panel-heading panel-heading-blue">Translations</div>
                <ul id="langs-list" class="nav nav-tabs" role="tablist"></ul>
            </div>

            <div class="col-sm-12">
                <div class="form-coins">
                    <div class="tab-content"></div>
                </div>
            </div>
        </div>
        <div class="box-footer"></div>
    </form>
</div>
