<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div>
    <form role="form">
        <div class="box-body">
            <p class="text-success success-action"></p>
            <p class="text-error failure-action"></p>

            <div class="common col-sm-12">
                <div class="country form-group">
                    <label>Country</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input class="form-control" name="CountryName" readonly="readonly" />
                        <input class="form-control" type="hidden" name="CoinCountryId" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Year</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input type="text" class="form-control" name="FromYear" maxlength="4" placeholder="From"/>
                        <span class="input-group-addon">-</span>
                        <input type="text" class="form-control" name="ToYear" maxlength="4" placeholder="To"/>
                        <span class="input-group-addon current-year-checkbox" style="background-color: #eee;">
                            <input id="is-current" type="checkbox" name="IsCurrentYear" style="vertical-align: bottom;">
                            <label for="is-current" style="margin-left: 5px; margin-bottom: 0;"></label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="translations-panel panel col-sm-6 col-xs-12">
                <div class="panel-heading panel-heading-blue">Translations</div>
                <ul id="langs-list" class="nav nav-tabs" role="tablist"></ul>
            </div>

            <div class="col-sm-12" style="margin-top: 15px;">
                <div class="form-coin-age">
                    <div class="tab-content"></div>
                </div>
            </div>
        </div>
        <div class="box-footer"></div>
    </form>
</div>
