<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div>
    <form role="form">
        <div class="box-body">
            <p class="text-success success-action"></p>
            <div class="failure-action col-sm-12"></div>

            <div class="common col-sm-12">
                <div class="country form-group">
                    <label>Country</label>
                    <div class="input-group col-sm-6 col-xs-12">
                       <input class="form-control" name="Country" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Nominal value</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input class="form-control" name="NominalValue" readonly="readonly" />
                    </div>
                </div>
                <div class="age form-group">
                    <label>Age</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input class="form-control" name="Age" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Year</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input class="form-control" name="Year" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Weight</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input class="form-control" name="Weight" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Sample</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input class="form-control" name="Sample" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Metal content(purity)</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input class="form-control" name="Purity" readonly="readonly" />
                    </div>
                </div>
                <div id="diameter" class="form-group">
                    <label>Diameter</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input class="form-control" name="Diameter" readonly="readonly" />
                    </div>
                    <div id="diameter-checkbox" class="input-group col-sm-6 col-xs-12">
                        <input id="check" type="checkbox" />
                        <label for="check" style="position: absolute; margin-left: 5px;">Change</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Circulation</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input class="form-control" name="Circulation">
                    </div>
                </div>
                <div class="form-group">
                    <label>Type(Donative/Medalic/Liberty)</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input class="form-control" name="CoinType">
                    </div>
                </div>
            </div>
            <div class="prices-table col-sm-12">
                <div class="prices panel panel-primary col-sm-6 col-xs-12">
                    <div class="panel-heading clickable">
                        <h4 class="panel-title">
                            <span id="panel-title-text"></span>
                            <span class="pull-right">
                                <a data-toggle="collapse" href="#collapse1">
                                    <i class="glyphicon glyphicon-chevron-down"></i>
                                </a>
                            </span>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel panel-collapse collapse">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Price from, $</th>
                                    <th>Price to, $</th>
                                    <th>BV</th>
                                    <th>%</th>
                                    <th>Market price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td name="PriceName" short-name="Good">Good(G) G4-G6</td>
                                    <td><input type="text" class="form-control price" name="PriceFrom" /></td>
                                    <td><input type="text" class="form-control price" name="PriceTo" /></td>
                                    <td><input type="checkbox" class="flexible-price-checkbox" name="IsFlexiblePrice" /></td>
                                    <td><input type="text" class="form-control percentage" name="PricePercentage" readonly="readonly"/></td>
                                    <td><input type="text" class="form-control market-price" name="MarketPrice" readonly="readonly" /></td>
                                </tr>
                                <tr>
                                    <td name="PriceName" short-name="VeryGood">Very Good(VG) VG8-VG10</td>
                                    <td><input type="text" class="form-control price" name="PriceFrom" /></td>
                                    <td><input type="text" class="form-control price" name="PriceTo" /></td>
                                    <td><input type="checkbox" class="flexible-price-checkbox" name="IsFlexiblePrice" /></td>
                                    <td><input type="text" class="form-control percentage" name="PricePercentage" readonly="readonly"/></td>
                                    <td><input type="text" class="form-control market-price" name="MarketPrice" readonly="readonly" /></td>
                                </tr>
                                <tr>
                                    <td name="PriceName" short-name="Fine">Fine(F) F12-F15</td>
                                    <td><input type="text" class="form-control price" name="PriceFrom" /></td>
                                    <td><input type="text" class="form-control price" name="PriceTo" /></td>
                                    <td><input type="checkbox" class="flexible-price-checkbox" name="IsFlexiblePrice" /></td>
                                    <td><input type="text" class="form-control percentage" name="PricePercentage" readonly="readonly"/></td>
                                    <td><input type="text" class="form-control market-price" name="MarketPrice" readonly="readonly" /></td>
                                </tr>
                                <tr>
                                    <td name="PriceName" short-name="VeryFine">Very Fine(VF) VF20-VF25-VF30-VF35</td>
                                    <td><input type="text" class="form-control price" name="PriceFrom" /></td>
                                    <td><input type="text" class="form-control price" name="PriceTo" /></td>
                                    <td><input type="checkbox" class="flexible-price-checkbox" name="IsFlexiblePrice" /></td>
                                    <td><input type="text" class="form-control percentage" name="PricePercentage" readonly="readonly"></td>
                                    <td><input type="text" class="form-control market-price" name="MarketPrice" readonly="readonly" /></td>
                                </tr>
                                <tr>
                                    <td name="PriceName" short-name="ExtremelyFine">Extremely Fine(XF) XF40-XF45</td>
                                    <td><input type="text" class="form-control price" name="PriceFrom" /></td>
                                    <td><input type="text" class="form-control price" name="PriceTo" /></td>
                                    <td><input type="checkbox" class="flexible-price-checkbox" name="IsFlexiblePrice" /></td>
                                    <td><input type="text" class="form-control percentage" name="PricePercentage" readonly="readonly"/></td>
                                    <td><input type="text" class="form-control market-price" name="MarketPrice" readonly="readonly" /></td>
                                </tr>
                                <tr>
                                    <td name="PriceName" short-name="AboutUncirculated">About Uncirculated(AU) AU50-AU53-AU55-AU58</td>
                                    <td><input type="text" class="form-control price" name="PriceFrom" /></td>
                                    <td><input type="text" class="form-control price" name="PriceTo" /></td>
                                    <td><input type="checkbox" class="flexible-price-checkbox" name="IsFlexiblePrice" /></td>
                                    <td><input type="text" class="form-control percentage" name="PricePercentage" readonly="readonly"/></td>
                                    <td><input type="text" class="form-control market-price" name="MarketPrice" readonly="readonly" /></td>
                                </tr>
                                <tr>
                                    <td name="PriceName" short-name="Uncirculated">Uncirculated(UNC) MS60-MS61-MS62-MS63-MS64</td>
                                    <td><input type="text" class="form-control price" name="PriceFrom" /></td>
                                    <td><input type="text" class="form-control price" name="PriceTo" /></td>
                                    <td><input type="checkbox" class="flexible-price-checkbox" name="IsFlexiblePrice" /></td>
                                    <td><input type="text" class="form-control percentage" name="PricePercentage" readonly="readonly"/></td>
                                    <td><input type="text" class="form-control market-price" name="MarketPrice" readonly="readonly" /></td>
                                </tr>
                                <tr>
                                    <td name="PriceName" short-name="BrilliantUNC">Brilliant UNC MS65-MS66-MS67-MS68-MS69-MS70</td>
                                    <td><input type="text" class="form-control price" name="PriceFrom" /></td>
                                    <td><input type="text" class="form-control price" name="PriceTo" /></td>
                                    <td><input type="checkbox" class="flexible-price-checkbox" name="IsFlexiblePrice" /></td>
                                    <td><input type="text" class="form-control percentage" name="PricePercentage" readonly="readonly"/></td>
                                    <td><input type="text" class="form-control market-price" name="MarketPrice" readonly="readonly" /></td>
                                </tr>
                                <tr>
                                    <td name="PriceName" short-name="ProofLike">Proof Like(PL) MS60 PL-MS61 PL...MS 69 PL-MS70 PL</td>
                                    <td><input type="text" class="form-control price" name="PriceFrom" /></td>
                                    <td><input type="text" class="form-control price" name="PriceTo" /></td>
                                    <td><input type="checkbox" class="flexible-price-checkbox" name="IsFlexiblePrice" /></td>
                                    <td><input type="text" class="form-control percentage" name="PricePercentage" readonly="readonly"/></td>
                                    <td><input type="text" class="form-control fixed-price" name="MarketPrice" readonly="readonly" /></td>
                                </tr>
                                <tr>
                                    <td name="PriceName" short-name="Proof">Proof(PF) PF61-PF62...PF69-PF70</td>
                                    <td><input type="text" class="form-control price" name="PriceFrom" /></td>
                                    <td><input type="text" class="form-control price" name="PriceTo" /></td>
                                    <td><input type="checkbox" class="flexible-price-checkbox" name="IsFlexiblePrice" /></td>
                                    <td><input type="text" class="form-control percentage" name="PricePercentage" readonly="readonly"/></td>
                                    <td><input type="text" class="form-control market-price" name="MarketPrice" readonly="readonly" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="translations-panel panel col-sm-6 col-xs-12">
                <div class="panel-heading panel-heading-blue">Translations</div>
                <ul id="langs-list" class="nav nav-tabs" role="tablist"></ul>
            </div>

            <div class="col-sm-12">
                <div class="form-coins">
                    <div class="tab-content"></div>
                </div>
            </div>
        </div>
        <div class="box-footer"></div>
    </form>
</div>
