<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul id="langs-list" class="nav nav-tabs" role="tablist"></ul>
        </div>
    </div>
    <form role="form">
        <div class="box-body">
            <p class="text-success success-action"></p>
            <div class="failure-action col-sm-12"></div>

            <div class="col-sm-12">
                <div class="form-country">
                    <div class="tab-content"></div>
                </div>
            </div>
            </div>
        </div>
        <div class="box-footer"></div>
    </form>
</div>
