<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div>
    <form role="form">
        <div class="box-body">
            <p class="text-success success-action"></p>
            <div class="failure-action col-sm-12"></div>

            <div class="common col-sm-12">
                <div class="country form-group">
                    <label>Country</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <select class="form-control" name="CoinCountryId"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Year</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input type="text" class="form-control" name="YearFrom" maxlength="4" placeholder="From"/>
                        <span class="input-group-addon">-</span>
                        <input type="text" class="form-control" name="YearTo" maxlength="4" placeholder="To"/>
                        <span class="input-group-addon current-year-checkbox" style="background-color: #eee;">
                            <input id="is-current" type="checkbox" name="IsCurrentYear" style="vertical-align: bottom;">
                            <label for="is-current" style="margin-left: 5px; margin-bottom: 0;"></label>
                        </span>
                    </div>
                </div>
                <div class="age form-group">
                    <label id="manual-age">Age</label>
                    <label id="automatic-age" style="display: none;">Age(added automatically)</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <select class="form-control" name="CoinAgeId" multiple="multiple"></select>
                    </div>
                    <div id="ages-checkbox" class="input-group col-sm-6 col-xs-12">
                        <input id="check" name="IsAutomaticallyAddedAges" type="checkbox" />
                        <label for="check" style="position: absolute; margin-left: 5px;">Add ages automatically</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Type(Donation, Medallic, Liberty)</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input class="form-control" name="CoinType">
                    </div>
                </div>
                <div class="form-group">
                    <label>Diameter</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input class="form-control" name="Diameter">
                    </div>
                </div>
                <div class="form-group">
                    <label>Sample</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input class="form-control" name="Sample">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Weight(Grams and Ounces)</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input type="text" class="form-control" name="WeightGrams" placeholder="Grams"/>
                        <span class="input-group-addon">-</span>
                        <input type="text" class="form-control" name="WeightOunces" placeholder="Ounces" readonly />
                    </div>
                </div>
                <div id="purity" class="form-group" style="display: none;">
                    <label>Metal content(purity)</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input class="form-control" name="Purity" readonly>
                    </div>
                </div>
            </div>

            <div class="translations-panel panel col-sm-6 col-xs-12">
                <div class="panel-heading panel-heading-blue">Translations</div>
                <ul id="langs-list" class="nav nav-tabs" role="tablist"></ul>
            </div>

            <div class="col-sm-12" style="margin-top: 15px;">
                <div class="form-nominal-value">
                    <div class="tab-content"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer"></div>
    </form>
</div>
