<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div>
    <form role="form">
        <div class="box-body">
            <p class="text-success success-action"></p>
            <p class="text-error failure-action"></p>

            <div class="form-user-roles"></div>

            <div class="form-group role">
                <label>Permissions</label>
                <div class="input-group col-xs-4">
                    <table class="table table-bordered permissions"></table>
                </div>
            </div>
            <div class="form-group user">
                <label>Activate</label>
                <div class="input-group col-xs-4">
                    <select class="form-control" id="Status">
                        <option value="active">Yes</option>
                        <option value="inactive">No</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="box-footer"></div>
    </form>
</div>
