<div class="box box-primary seo">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div>
    <form role="form">
        <div class="box-body seo-form">
            <div class="row">
                <div class="btn-group col-xs-12 col-sm-6 col-md-4 col-lg-4" id="coin-type"></div>
                <div class="btn-group col-xs-12 col-sm-6 col-md-4 col-lg-4" id="ad-type"></div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" id="reset-filters"></div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 coin-country"></div>
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 coin-ages"></div>
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 coin-nominals"></div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 coin"></div>
            </div>
            <div class="row">
                <div class="btn-group col-xs-12 col-sm-4 col-md-3 col-lg-3 user-country"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul id="langs-list" class="nav nav-tabs" role="tablist"></ul>
                </div>
            </div>
            <div class="row" style="margin-bottom: 0">
                <div class="form-seo col-sm-12">
                    <div class="tab-content">
                        <h4 id="url"></h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-success success-action Create"></p>
                    <p class="text-success success-action Update"></p>
                    <p class="text-error failure-action"></p>
                </div>
                <div class="col-xs-12 update-button"></div>
            </div>
            </div>
        </div>
    </form>
</div>