<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div>
    <form role="form">
        <div class="box-body">
            <p class="text-success success-action"></p>
            <p class="text-error failure-action"></p>

            <div class="common col-sm-12">
                <div class="country form-group">
                    <label>Country</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <select class="form-control" name="CoinCountryId"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Code</label>
                    <div class="input-group col-sm-6 col-xs-12">
                        <input type="text" class="form-control" name="Code">
                    </div>
                </div>
            </div>

            <div class="translations-panel panel col-sm-6 col-xs-12">
                <div class="panel-heading panel-heading-blue">Translations</div>
                <ul id="langs-list" class="nav nav-tabs" role="tablist"></ul>
            </div>

            <div class="col-sm-12" style="margin-top: 15px;">
                <div class="form-user-city">
                    <div class="tab-content"></div>
                </div>
            </div>
        </div>
        <div class="box-footer"></div>
    </form>
</div>
