<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div>
        <form role="form">
            <div class="box-body">
                <p class="text-success success-action"></p>
                <p class="text-error failure-action"></p>
                <div class="form-group user">
                    <label>User name</label>
                    <div class="input-group col-xs-4">
                        <input type="text" class="form-control" id="Nickname">
                    </div>
                </div>
                <div class="form-group user">
                    <label>E-mail</label>
                    <div class="input-group col-xs-4">
                        <input type="text" class="form-control" id="Email">
                    </div>
                </div>
                <div class="form-group user-password" style="display: none;">
                    <label>Password</label>
                    <div class="input-group col-xs-4">
                        <input type="password" class="form-control" id="Password">
                    </div>
                </div>
                <div class="form-group user">
                    <label>User role</label>
                    <div class="input-group col-xs-4">
                        <select class="form-control" id="Role"></select>
                    </div>
                </div>
                <div class="form-group user">
                    <label>Tariff Plan</label>
                    <div class="input-group col-xs-4">
                        <select class="form-control" id="TariffPlan"></select>
                    </div>
                </div>
            </div>
        </form>
    <div class="box-footer"></div>
</div>
